@import url(http://fonts.googleapis.com/css?family=Roboto);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

#playerTitle {
  padding-left: 10px;
}

#playerBoard {
  background: linear-gradient(90deg, #403b4a 10%, #e7e9bb 90%);
  /* W3C */
}

#playerControl {
  display: flex;
  align-items: center;
  justify-content: center;
}
#playerControl button {
  border: none;
  background: none;
  margin-top: 10px;
}
#playerControl button.icon-play, #playerControl button.icon-pause, #playerControl button.icon-backward, #playerControl button.icon-forward {
  padding-left: 1;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  color: #FFFFFF;
}
#playerControl button.icon-play:hover, #playerControl button.icon-pause:hover, #playerControl button.icon-backward:hover, #playerControl button.icon-forward:hover {
  color: black;
}
#playerControl button.icon-play, #playerControl button.icon-pause {
  font-size: 2.5rem;
}
#playerControl button.icon-backward, #playerControl button.icon-forward {
  font-size: 1.5rem;
}
#playerControl button:focus {
  outline: none;
}

#playerInfo {
  display: flex;
}
#playerInfo #playerArtist {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#playerInfo #playerTitle {
  flex-grow: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#playerInfo #duration {
  width: 120px;
  white-space: nowrap;
}

#duration {
  text-align: right;
  padding-right: 10px;
}

.playerBar {
  position: relative;
  height: 6px;
  width: 100%;
  background-color: #DDDDDD;
}
.playerBar .barLoad {
  position: absolute;
  z-index: 1;
  display: inline-block;
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #1a2980 10%, #26d0ce 90%);
}
.playerBar .barProgress {
  position: absolute;
  z-index: 2;
  display: inline-block;
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #eb3349 10%, #f45c43 90%);
  /* W3C */
}
.playerBar .barSeek {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
}

#playerInteraction {
  padding-top: 15px;
  position: relative;
  background: linear-gradient(151deg, white 10%, #979797 90%);
  border-bottom: 1px solid;
}
#playerInteraction .panel {
  position: absolute;
  top: 50px;
  display: none;
  width: 100%;
  margin-top: -6px;
  padding-top: 8px;
}
#playerInteraction .panel #infoPlayer {
  border-top: 1px solid #DFDFDF;
  margin-top: 1px;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 128px;
  text-align: center;
  line-height: 100px;
  background: linear-gradient(151deg, white 10%, #979797 90%);
}
#playerInteraction h1 {
  display: inline-block;
  margin: 0 -2px;
  padding: 8px 20px;
  padding-bottom: 11px;
  border-left: 1px solid #111111;
  border-right: 1px solid #111111;
  border-bottom: none;
  border-radius: 1px 1px 0 0;
  font-weight: 500;
  font-size: 13px;
  color: #FF4136;
  cursor: pointer;
  color: #979393;
}
#playerInteraction h1.active {
  position: relative;
  z-index: 1;
  background: #fff;
  color: #111111;
  border: 1px solid #FFFFFF;
  margin-bottom: -1px;
}
#playerInteraction h1.active + .panel {
  display: block;
}

#searchbar {
  display: flex;
  height: 30px;
}
#searchbar #searchSong {
  flex-grow: 9;
  border: none;
  background: #eee;
  border-bottom: 1px solid linear-gradient(90deg, black -25%, #e74c3c 95%);
}
#searchbar #searchSong:focus {
  outline: none;
}
#searchbar #searchSongSubmit {
  flex-grow: 1;
  background: #c0b7b7;
  color: white;
  border: none;
  border-radius: 2px;
}
#searchbar #searchSongSubmit:focus {
  outline: none;
}

#searchList {
  padding-top: 1px;
  height: 505px;
  overflow: scroll;
}
#searchList li {
  padding-top: 0px;
}
#searchList li .searchListItem {
  position: relative;
  z-index: 3;
  border: solid 1px F1F1F1;
  height: 60px;
  display: flex;
  align-items: stretch;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 4px;
  margin-left: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 1px 1px #CAC0C0;
  border-radius: 2px;
  font-size: 0.7rem;
  background: linear-gradient(90deg, white 10%, #dddddd 90%);
}
#searchList li .searchListItem button {
  border: none;
  background: none;
  font-size: 0.7rem;
  margin: 0 8px;
}
#searchList li .searchListItem:hover {
  background: #DDDDDD;
}
#searchList li .searchListItem.js-trackPlaying {
  border-right: 8px solid #AAA;
}
#searchList li .searchListItem img {
  padding-left: 5px;
  width: 60px;
}
#searchList li .searchListItem .trackAttribute {
  display: block;
  position: relative;
  flex-basis: 80%;
}
#searchList li .searchListItem .trackAttribute .username, #searchList li .searchListItem .trackAttribute .title {
  padding-left: 10px;
  display: block;
}
#searchList li .searchListItem .trackAttribute .username {
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#searchList li .searchListItem .trackAttribute .title {
  padding-top: 20px;
  text-decoration: none;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#searchList li .searchListItem #miniControlPlayer {
  flex-grow: 1;
  flex-basis: 20%;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
